*{
    padding: 0;
    margin: 0;
}
.process{
    width: 100%;
    height: 720px;
}
#ilk-sutun{
    background-color: #3E4FD6;
    width: 400px;
    height: 720px;
    float: left;

}

.process-screen{
    float: left;
}

#logo{
    margin: 75px 0px 0px 50px;
}
#btn-container{
    width: 500px;
    height: 440px;
    float: left;
    margin: 200px 0px 0px 320px;
}

.btn{
    margin-bottom: 30px;
    width: 500px;
    height: 150px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
#giris{
    background-image: url('image/Kasiyer-Giris-Btn.png');
}
#giris:hover{
    background-image: url('image/Kasiyer-Giris-Btn-Hover2.png'); 
}
#kayit{
    background-image: url('image/Yeni-Kasiyerr-Btn.png');

}
#kayit:hover{
    background-image: url('image/Yeni-Kasiyer-Btn-Hover2.png');

}